<%- include('../../components/header.ejs') %>
<div class="container mt-3">
    <h4>Edit category</h4>
    <div class="row">

        <div class="col-md-4">
            <form action="/category-update/<%= categoryDetails.id %>" method="POST" enctype="multipart/form-data">
                <input type="text" class="form-control mt-3" name="title" value="<%=  categoryDetails.title %>" placeholder="Enter title">
                <textarea name="description" id="" class="form-control mt-3" placeholder="Enter description"><%= categoryDetails.description %></textarea> 
                <!-- textarea dosen't have value attribute -->
                <input type="file" name="categoryImage" class="form-control mt-3">
                <img class="mt-2" style="height: 150px;" src="<%= categoryDetails.categorySecureUrl %>" alt="image">
                <button type="submit" class="btn btn-primary mt-3">Submit</button>
                       
                       <% if (errorMessage.length > 0) { %>
                       <div class="alert-danger mt-3 mb-3 d-flex align-items-center justify-content-center" style="color: rgb(209, 8, 8);">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
                        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                        </svg>
                        <div class="ms-2"><%= errorMessage %></div>
                       </div>
                       <% } %>
            </form>
        </div>
        <div class="col-md-8"></div>

        
    </div>
</div>
<%- include('../../components/footer.ejs') %>

<!--  enctype="multipart/form-data" -> authorize image from frontend to backend  (encode file) ,compulsory when we are working with files-->