<%- include("../../components/header.ejs") %>
<div class="container">
    <h4>Blog Details</h4>
    <h2><%=  %></h2>
    <img width="height: 150px;" src="<%=  %>" alt="blog image">
    <p><%=  %></p>
</div>
<%- include("../../components/footer.ejs") %>